/* HTML tags : start */
html, body, p, h1, h2, h3,  h4, a, img, form, table, tr, td {
        margin: 0;
        padding: 0;
        border: 0}
html {height:100%;}
body{font-family:Arial, Helvetica, sans-serif;color:#354d60;font-size:13px;min-height:100%;position:relative;min-width:980px;_width:expression(document.documentElement.clientWidth < 980 ? "980px" : "auto");}
*html body{height:100%}
body{behavior:url("csshover.htc");}
/* HTML tags */
h1{}

a{color:#39a0d2}
a:hover{text-decoration:none}

.main-container{width:980px;margin:0 auto;padding-bottom:200px;overflow:hidden}

.top-menu{height:40px;background:url(../images/tmenu.png) repeat-x}
.top-menu ul{margin:0;padding:0;list-style-type:none}
.top-menu ul li{float:left;margin:0 3px;}
.top-menu ul li a{font-family: 'Open Sans Condensed', sans-serif;color:#354d60;font-size:21px;text-decoration:none;float:left;height:40px;line-height:40px;padding:0 20px}
.top-menu ul li.act a{background:url(../images/tmenu_act.png) repeat-x}

.header{height:107px;position:relative;padding-right:250px;}
.logo{float:left;width:210px;padding:15px 0 0 0}

.phone-box{float:right;width:210px;text-align:right;font-family: 'Open Sans Condensed', sans-serif;padding-top:11px}
.phone-box div{color:#1a2e73;font-size:27px;}
.phone-box div span{color:#6393bf}
.phone-box p{color:#1a2e73;font-size:13px}
.phone-box p a{color:#0d52a5;text-decoration:none;border-bottom:1px dotted #0d52a5;margin-left:15px}

.search-top{margin:0 210px 0 230px;padding:64px 0 0 0}
.search-top input{background:url(../images/search_in.png) no-repeat;width:235px;height:20px;line-height:20px;padding:0 10px;color:#0d52a5;font-family:Arial, Helvetica, sans-serif;font-size:13px;vertical-align:middle;border:0}
.search-top img{vertical-align:middle}

.basket-top{position:absolute;width:180px;top:25px;right:0}
.basket-top p{background:url(	../images/ico01.png) 1px 0 no-repeat;color:#0d52a5;font-size:11px;margin-bottom:5px;position:relative;text-align:right}
.basket-top p span{position:absolute;width:120px;overflow:hidden;left:17px;height:14px;text-align:left}
.basket-top p span span{position:absolute;white-space:nowrap;left:0;}
.basket-top p a{color:#0d52a5}
.basket-top div.bas{background:url(../images/basket_bg.png) no-repeat;padding:1px 0 0 33px;color:#fff;font-size:16px}
.basket-top div.bas a{color:#fff;font-size:16px}
.basket-top div.bas span{color:#0d52a5;font-size:12px;display:block;padding-top:5px}

.basket-top div.bas:hover .bas-drop{display:block}

.basket-top div.bas-drop{position:absolute;top:45px;right:0px;width:360px;border:1px solid #41acdf;padding:10px 20px 20px 20px;background:#fff !important;display:none;z-index:100}
.basket-top div.bas-drop h2{color:#525252;font-size:26px;font-weight:300;padding:0 0 15px 0;font-family: 'Open Sans Condensed', sans-serif}
.basket-top div.bas-drop table{border-collapse:collapse;width:100%;border-top:1px solid #cad5da;font-family: 'Open Sans Condensed', sans-serif}
.basket-top div.bas-drop table td{border-bottom:1px solid #cad5da;padding:0 0 0 10px}
.basket-top div.bas-drop table td a{color:#0d52a5;font-size:15px}
.basket-top div.bas-drop table td span{white-space:nowrap;font-size:18px;color:#3dabe0}
.basket-top div.bas-drop table td .price{color:#3dabe0;font-size:18px;font-weight:600;white-space:nowrap;}
.basket-top div.bas-drop table td .price span{color:#3dabe0;font-size:26px;font-weight:600;display:inline}

.bas-drop .order-b{text-align:right;padding:10px 0 0 0}
.bas-drop .order-b a{height:28px;text-align:center;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:150px;font-size:16px;line-height:28px;display:block;text-decoration:none;float:right}


.content{}
.carcass{border-collapse:collapse;width:100%}

.leftbar{vertical-align:top;width:140px;padding:0 40px 0 0;background:url(../images/leftbar.png) 155px 35px no-repeat}
.rightbar{vertical-align:top;width:247px;padding-left:13px}
.centerbar{vertical-align:top}
.centerbar h1{color:#525252;font-size:26px;font-weight:300;padding:0 0 15px 0;font-family: 'Open Sans Condensed', sans-serif;}
.centerbar h1 a{color:#0d52a5;text-decoration:none}

.all-link{float:right;padding-top:4px}
.all-link a{color:#0d52a5}

.select-box1{padding:15px 0 0 10px}
.select-box1 h2{color:#525252;font-size:22px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;text-align:center}
.select-box1 p{color:#525252;font-size:16px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;text-align:center;padding:10px 0}
.select-box1 .lineForm{padding-bottom:10px}
.select-box1 .lineForm select{width:233px}
.select-box1 .lineForm .cusel {background: url(../images/select01.png) no-repeat;}
.select-box1 .lineForm .cusel {height:35px;background-position: left top;display: inline-block;position:relative;cursor: pointer;font-size:17px;}
.select-box1 .lineForm .cuselFrameLeft {position: absolute;z-index: 1;top: 0;left: 0;height: 100%;width:10px;background-position: left top;}
.select-box1 .lineForm .cusel .cuselFrameRight {background: url(../images/select01.png) no-repeat;width:38px;background-position: right top;position: absolute;z-index: 1;top: 0;right:-1px;height:100%}
.select-box1 .lineForm .cuselText {height:30px;padding:5px 10px 0 8px;cursor: pointer;overflow: hidden;position: relative;z-index: 2;margin-right:32px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px}
* html .select-box1 .cuselText {height: 35px;}
.select-box1 .lineForm .cusel span {display: block;cursor: pointer;white-space: nowrap;padding:8px 10px 7px 8px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px;}
.select-box1 .lineForm .cusel span:hover {background:#e8e8e8;color:#4b8bb6;}
.select-box1 .lineForm .cusel-scroll-wrap{position:absolute;top:34px;z-index:100;width:100.5%;}
.select-box1 .lineForm .jScrollPaneContainer {position: relative;overflow: hidden;z-index:5;border: 1px solid #e6e6e6;padding:0;background:#fff;}

.select-b{}
.select-b a{background:url(../images/btn01.png) no-repeat;width:233px;height:35px;line-height:35px;color:#fff;text-decoration:none;display:block;text-align:center;font-family: 'Open Sans Condensed', sans-serif;font-size:18px;text-shadow:1px 1px 1px #2a93d3}

.select-box2{padding:15px 0 0 0}
.select-box2 h2{color:#525252;font-size:22px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;text-align:center;padding-bottom:5px}
.select-box2 ul{margin:0;padding:0;list-style-type:none}
.select-box2 ul li{float:left;width:111px;height:88px;margin:0 0 10px 10px}
.select-box2 ul li.sb1{background:url(../images/s01.png) no-repeat}
.select-box2 ul li.sb2{background:url(../images/s02.png) no-repeat}
.select-box2 ul li.sb3{background:url(../images/s03.png) no-repeat}
.select-box2 ul li.sb4{background:url(../images/s04.png) no-repeat}
.select-box2 ul li.sb5{background:url(../images/s05.png) no-repeat}
.select-box2 ul li.sb6{background:url(../images/s06.png) no-repeat}
.select-box2 ul li a{float:left;width:100px;height:73px;padding:15px 11px 0 0;text-align:right;color:#fff;text-decoration:none}

#slidebox{position:relative;height:355px}
#slidebox, #slidebox .content{width:720px;}
#slidebox .container, #slidebox .content{height:274px;}
#slidebox{overflow:hidden;}
#slidebox .container{position:relative; left:0;}
#slidebox .content{float:left;}
#slidebox .content div{height:100%;position:relative;font-family: 'Open Sans Condensed', sans-serif;}
#slidebox .content div img{position:absolute;top:0;left:0;width:720px;height:274px}
#slidebox .content div h2{position:absolute;top:40px;left:490px;font-weight:300}
#slidebox .content div ul{margin:0;padding:0;position:absolute;top:75px;left:490px;list-style-type:none}
#slidebox .content div ul li{font-size:14px;line-height:16px;padding:0 30px 0 13px;background:url(../images/bullet01.png) 0 6px no-repeat}
#slidebox .content div p{font-size:14px;line-height:16px;position:absolute;top:75px;left:490px;padding:0 30px 0 0}

#slidebox .next, #slidebox .previous{position:absolute; z-index:2; display:block; width:25px; height:35px;cursor:pointer;top:115px}
#slidebox .next{right:0;background:url(../images/arr_right.png) no-repeat}
#slidebox .previous{background:url(../images/arr_left.png)}
#slidebox .thumbs{position:absolute; z-index:2;left:0;top:277px;width:724px;font-family: 'Open Sans Condensed', sans-serif;}
#slidebox .thumbs h2{font-weight:300;}
#slidebox .thumbs ul{margin:0;padding:0;list-style-type:none}
#slidebox .thumbs ul li{font-size:14px;line-height:16px;background:url(../images/bullet01.png) 0 6px no-repeat;padding:0 0 0 10px}
#slidebox .thumbs p{font-size:14px;line-height:16px}
#slidebox .thumbs .thumb{float:left;width:207px;height:79px;margin:0 2px;background:url(../images/pl00.png) no-repeat;padding:1px 15px 0 15px;color:#525252;}
#slidebox .thumbs .thumb:first-child{margin-left:0}
#slidebox .thumbs .thumb:hover{background:url(../images/pl01.png) no-repeat;color:#fff}
#slidebox .selected_thumb{background:url(../images/pl01.png) no-repeat;color:#fff;float:left;width:207px;height:79px;margin:0 2px;padding:1px 15px 0 15px;}
#slidebox .selected_thumb ul li{background:url(../images/bullet02.png) 0 6px no-repeat}
#slidebox .selected_thumb:first-child{margin-left:0}

.catalog-box{padding:20px 0;font-family: 'Open Sans Condensed', sans-serif;}
.catalog-box h2{background:url(../images/pro.png) 0 11px no-repeat;color:#525252;font-size:26px;font-weight:300;padding:0 0 0 15px}
.catalog-box ul{margin:0;padding:0;list-style-type:none;background:url(../images/sep01.png) left top no-repeat;overflow:hidden}
.catalog-box ul li{float:left;background:url(../images/sep01.png) right top no-repeat;text-align:center;padding:0 10px;color:#525252;font-size:20px;}
.catalog-box ul li img{display:block;margin-bottom:10px}
.catalog-box ul li a{color:#525252;text-decoration:none}

.leftbar .catalog-box{padding:0 0 20px 0;font-family: 'Open Sans Condensed', sans-serif;}
.leftbar .catalog-box h2{background:url(../images/pro.png) 0 11px no-repeat;color:#525252;font-size:26px;font-weight:300;padding:0 0 0 15px}
.leftbar .catalog-box ul{margin:0;padding:0;list-style-type:none;background:none;overflow:hidden}
.leftbar .catalog-box ul li{float:none;background:none;text-align:center;padding:0 0 10px 0;color:#525252;font-size:20px;}
.leftbar .catalog-box ul li img{display:block;margin-bottom:4px;margin:0 auto}
.leftbar .catalog-box ul li a{color:#525252;text-decoration:none}

.manufacturer-box{padding:20px 0;font-family: 'Open Sans Condensed', sans-serif;}
.manufacturer-box h2{background:url(../images/pro.png) 0 11px no-repeat;color:#525252;font-size:26px;font-weight:300;padding:0 0 0 15px}
.manufacturer-box ul{margin:0;padding:0;list-style-type:none;}
.manufacturer-box ul li{float:left;text-align:center;padding:10px 5px 0 0;}

.recomend-box{padding:20px 0;font-family: 'Open Sans Condensed', sans-serif;}
.recomend-box table{border-collapse:collapse;width:100%}
.recomend-box table td{vertical-align:top;width:28%;padding:15px 25px 20px 0}
.recomend-box table td p{height:40px;}
.recomend-box table td p a{color:#3dabe0;font-size:18px;}
.recomend-box table td div img{float:left;}
.recomend-box table td div span{float:right;color:#3dabe0;font-weight:700;font-size:18px;margin-top:15px}
.recomend-box table td div span span{font-size:26px;float:left;margin:-5px 5px 0 0}
.recomend-box table td div a{float:right;background:url(../images/btn02.png) no-repeat;width:85px;height:29px;line-height:27px;color:#fff;font-size:18px;text-decoration:none;padding-left:34px;margin:5px 0 0 0}
.recomend-box h2{background:url(../images/pro.png) 0 11px no-repeat;color:#525252;font-size:26px;font-weight:300;padding:0 0 0 15px}
.recomend-box ul{margin:0 -20px 0 0;padding:0;list-style-type:none;clear:both}
.recomend-box ul li{background:url(../images/bullet03.png) 0 7px no-repeat;padding:0 0 0 20px;color:#848392;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-family:}

.news-article{}
.news-list{float:left;width:470px;margin:0 20px 0 0;border-top:1px solid #e9e9e9;position:relative;padding-top:10px}
.news-list span.all{position:absolute;top:-1px;right:25px;height:34px;border:1px solid #eee;padding:0 15px;line-height:34px;background:url(../images/all.png) repeat-x;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;behavior: url(js/pie.htc);}
.news-list span.all a{color:#354d60;font-size:13px}
.news-list h2{background:url(../images/ico02.png) 0 6px no-repeat;padding:0 0 20px 20px;color:#354d60;font-size:22px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;}
.news-list div{float:left;width:210px;margin-right:20px}
.news-list div p{padding-bottom:20px;font-size:12px}
.news-list div p span{display:block;color:#39a0d2;font-size:14px;font-family: 'Open Sans Condensed', sans-serif;}
.news-list div p a{display:block;font-size:18px;padding-bottom:10px;font-family: 'Open Sans Condensed', sans-serif;line-height:23px}

.article-list{float:left;width:470px;margin:0 20px 0 0;border-top:1px solid #e9e9e9;position:relative;padding-top:10px}
.article-list span.all{position:absolute;top:-1px;right:25px;height:34px;border:1px solid #eee;padding:0 15px;line-height:34px;background:url(../images/all.png) repeat-x;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;behavior: url(js/pie.htc);}
.article-list span.all a{color:#354d60;font-size:13px}
.article-list h2{background:url(../images/ico03.png) 0 6px no-repeat;padding:0 0 20px 20px;color:#354d60;font-size:22px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;}
.article-list div{float:left;width:210px;margin-right:20px}
.article-list div p{padding-bottom:20px;font-size:12px}
.article-list div p a{display:block;font-size:18px;padding-bottom:10px;font-family: 'Open Sans Condensed', sans-serif;line-height:23px}

.seo-box{clear:both;border-top:1px solid #e9e9e9;position:relative;padding:10px 0 0 0}
.seo-box h2{background:url(../images/ico04.png) 0 6px no-repeat;padding:0 0 10px 25px;color:#354d60;font-size:22px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;}
.seo-box p{font-size:14px}

.box-404{padding:80px 10px}
.box-404 img{float:left;margin:0 15px 0 0}
.box-404 p{padding:60px 0 0 0;font-size:14px;ma}
.box-404 p a{color:#0d52a5}

.breadcrumbs{padding:10px 0;color:#29b1e5;font-size:13px}
.breadcrumbs a{color:#0d52a5}
.breadcrumbs span img{vertical-align:middle;margin:0 2px}

.action-list{}
.action-list ul{margin:0;padding:0;list-style-type:none}
.action-list ul li{padding-bottom:20px;line-height:20px;font-size:15px}
.action-list ul li a{display:block;font-family: 'Open Sans Condensed', sans-serif;font-size:18px;color:#0d52a5;padding-bottom:2px}

.pagebar{text-align: center;}
.pagebar ul{display: inline-block; //display: inline; zoom: 1; font-size: 18px;}
.pagebar ul li{float: left;display: inline;margin-right:1px;width:23px;height:28px;overflow: hidden;text-align: center;color: #fff;background:url(../images/page01.png) no-repeat;cursor: default;line-height:28px;font-family: 'Open Sans Condensed', sans-serif;}
.pagebar ul li a {color: #0d52a5;text-decoration: none;display: block;width:23px;height:28px;background:url(../images/page00.png) no-repeat;line-height:28px}
.pagebar div {color:#0d52a5;font-size:18px;padding:25px 0;font-family: 'Open Sans Condensed', sans-serif;}
.pagebar div a{color:#0d52a5;font-size:15px;vertical-align:middle;margin:0 5px}
.pagebar div img{vertical-align:middle;margin-top:-3px}


.txt-box{}
.txt-box h2{font-size:18px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}
.txt-box h3{font-size:16px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}
.txt-box h4{font-size:15px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}
.txt-box p{font-size:15px;line-height:20px;padding-bottom:20px}
.txt-box p a{color:#0d52a5}
.txt-box img[class*="align"]{float:left;margin:5px 15px 2px 0;}

.txt-box ul{margin:0;padding:0;list-style-type:none;color:#272727;font-size:15px;line-height:20px}
.txt-box ul li{background:url(../images/bullet05.png) 0 8px no-repeat;padding:0 0 0 20px;}
.txt-box ul li li{background:url(../images/bullet05_.png) 0 10px no-repeat;padding:0 0 0 18px}

.txt-box blockquote{color:#23a3dc;font-size:23px;font-family: 'Open Sans Condensed', sans-serif;font-style:italic;border-top:1px solid #23a3dc;border-bottom:1px solid #23a3dc;padding:5px 0;text-align:center;margin:15px 0}

.txt-box ol{margin:5px 24px 10px 24px;padding:0;counter-reset:item;}
.txt-box ol li{padding:0;color:#272727;font-size:15px;line-height:20px;position:relative;display:block;}
.txt-box ol li:before {content:counters(item,".") ". "; counter-increment:item;color:#0d52a5;position:absolute; top:0; left:-16px;font-family: 'Open Sans Condensed', sans-serif;font-weight:600;font-size:14px}
.txt-box ol li li:before {left:-26px}

.txt-box table{border-collapse:collapse;width:100%;border-bottom:1px solid #41acdf;font-size:15px;color:#565656}
.txt-box table th{color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;font-weight:300}
.txt-box table td{border-top:1px solid #dce0e1;padding:5px 0;text-align:center}

.contacts-box table{border-collapse:collapse;width:100%}
.contacts-box table td{width:50%;vertical-align:top;padding-bottom:15px}
.contacts-box table p{color:#565656;font-size:15px;line-height:20px;padding-bottom:15px}
.contacts-box table p span{color:#0d52a5;}

.faq-box h3{font-size:18px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:2px;font-weight:300}
.faq-box p{color:#565656;font-size:15px;line-height:20px;padding-bottom:15px}
.faq-box .name{color:#0d52a5;font-size:15px;line-height:20px;padding-bottom:15px;text-align:right;font-style:italic}
.faq-link{padding-bottom:20px}
.faq-link a{background:url(../images/faq.png) no-repeat;display:block;width:123px;height:33px;line-height:30px;padding:0 0 0 50px;color:#fff;font-family: 'Open Sans Condensed', sans-serif;text-decoration:none;font-size:20px}
.faq-box .sep{background:#ebebeb;height:1px;font-size:1px;clear:both;margin:0 0 20px 0}

.faq-form{width:700px;}
.faq-form table{border-collapse:collapse;width:100%;margin-bottom:30px}
.faq-form table td{vertical-align:top;padding:0 0 10px 0}
.faq-form table td .help{color:#2ab5e8;font-size:14px}
.faq-form table tr:first-child td{padding-bottom:0}
.faq-form table td:first-child{color:#565656;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;text-align:right;padding-right:15px}
.faq-form table input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:540px;}
.faq-form table textarea{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:90px;padding:5px 0 0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:550px;resize:none}
.faq-form .captcha{}
.faq-form .captcha input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:150px;vertical-align:middle}
.faq-form .captcha span{vertical-align:middle;color:#565656;font-size:15px;}
.faq-form .captcha img{vertical-align:middle;margin:0 3px}
.faq-form .send-b {text-align:right;margin-right:2px}
.faq-form .send-b input{height:33px;text-align:center;color:#fff;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:172px;font-size:20px;line-height:28px}
.faq-form .send-b input[type='submit']::-moz-focus-inner{padding:0;border:0}

.faq-form .lineForm{padding:0 10px 10px 0;float:left}
.faq-form .lineForm select{width:270px}
.faq-form .lineForm .cusel {background: url(../images/select01.png) no-repeat;}
.faq-form .lineForm .cusel {height:35px;background-position: left top;display: inline-block;position:relative;cursor: pointer;font-size:17px;}
.faq-form .lineForm .cuselFrameLeft {position: absolute;z-index: 1;top: 0;left: 0;height: 100%;width:10px;background-position: left top;}
.faq-form .lineForm .cusel .cuselFrameRight {background: url(../images/select01.png) no-repeat;width:38px;background-position: right top;position: absolute;z-index: 1;top: 0;right:-1px;height:100%}
.faq-form .lineForm .cuselText {height:30px;padding:5px 10px 0 8px;cursor: pointer;overflow: hidden;position: relative;z-index: 2;margin-right:32px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px}
* html .faq-form .cuselText {height: 35px;}
.faq-form .lineForm .cusel span {display: block;cursor: pointer;white-space: nowrap;padding:8px 10px 7px 8px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px;}
.faq-form .lineForm .cusel span:hover {background:#e8e8e8;color:#4b8bb6;}
.faq-form .lineForm .cusel-scroll-wrap{position:absolute;top:34px;z-index:100;width:100.5%;}
.faq-form .lineForm .jScrollPaneContainer {position: relative;overflow: hidden;z-index:5;border: 1px solid #e6e6e6;padding:0;background:#fff;}

.faq-form .check{padding-bottom:15px;color:#565656;font-size:14px;width:550px}
.faq-form .check .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.faq-form .check .checkboxlabelclass{background: url(../images/check.png) 0 -73px no-repeat;padding-left:20px;padding-top: 3px; margin:0 5px 10px 0;display: block;}
.faq-form .check .labelselected{background:url(../images/check.png) 0 0 no-repeat}

.faq-form .check .radioclass{position: absolute;overflow: hidden;left: -9999px;}
.faq-form .check .radiolabelclass{background:url(../images/check.png) 0 -280px no-repeat;padding-left:20px;padding-top: 1px;margin:5px 0 10px 0;display: block;}
.faq-form .check .radioselected{background:url(../images/check.png) 0 -165px no-repeat;}

.selection-form{width:660px;margin:0 auto}
.selection-form table{border-collapse:collapse;width:100%;margin-bottom:30px}
.selection-form table td{vertical-align:top;padding:0 0 10px 0}
.selection-form table td .help{color:#2ab5e8;font-size:14px}
.selection-form table tr:first-child td{padding-bottom:0;}
.selection-form table td:first-child{color:#565656;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;padding:0 10px 0 40px}
.selection-form table input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:350px;}
.selection-form table textarea{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:90px;padding:5px 0 0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:550px;resize:none}
.selection-form .captcha{text-align:right;margin-bottom:20px}
.selection-form .captcha input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#565656;width:150px;vertical-align:middle}
.selection-form .captcha span{vertical-align:middle;color:#565656;font-size:15px;}
.selection-form .captcha img{vertical-align:middle;margin:0 3px}
.selection-form .send-b {text-align:right;}
.selection-form .send-b input{height:33px;text-align:center;color:#fff;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:240px;font-size:20px;line-height:28px}
.selection-form .send-b input[type='submit']::-moz-focus-inner{padding:0;border:0}

.selection-form .lineForm{padding:0 0 10px 0;float:left}
.selection-form .lineForm label{float:left;margin:8px 5px 0 0;color:#565656;font-size:14px;}
.selection-form .lineForm select{width:370px}
.selection-form .lineForm .cusel {background: url(../images/select01.png) no-repeat;}
.selection-form .lineForm .cusel {height:35px;background-position: left top;display: inline-block;position:relative;cursor: pointer;font-size:17px;}
.selection-form .lineForm .cuselFrameLeft {position: absolute;z-index: 1;top: 0;left: 0;height: 100%;width:10px;background-position: left top;}
.selection-form .lineForm .cusel .cuselFrameRight {background: url(../images/select01.png) no-repeat;width:38px;background-position: right top;position: absolute;z-index: 1;top: 0;right:-1px;height:100%}
.selection-form .lineForm .cuselText {height:30px;padding:5px 10px 0 8px;cursor: pointer;overflow: hidden;position: relative;z-index: 2;margin-right:32px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px}
* html .selection-form .cuselText {height: 35px;}
.selection-form .lineForm .cusel span {display: block;cursor: pointer;white-space: nowrap;padding:8px 10px 7px 8px;font-family: 'Open Sans Condensed', sans-serif;color:#4b8bb6;font-size:17px;}
.selection-form .lineForm .cusel span:hover {background:#e8e8e8;color:#4b8bb6;}
.selection-form .lineForm .cusel-scroll-wrap{position:absolute;top:34px;z-index:100;width:100.5%;}
.selection-form .lineForm .jScrollPaneContainer {position: relative;overflow: hidden;z-index:5;border: 1px solid #e6e6e6;padding:0;background:#fff;}

.selection-form .check{color:#565656;font-size:14px;float:left;margin:5px 0 0 8px;font-family:Arial, Helvetica, sans-serif}
.selection-form .check .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.selection-form .check .checkboxlabelclass{background: url(../images/check.png) 0 -73px no-repeat;padding-left:20px;padding-top: 3px; margin:0 15px 10px 0;float:left}
.selection-form .check .labelselected{background:url(../images/check.png) 0 0 no-repeat}

.brd{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;-moz-box-shadow: 10px 10px 20px 0 #000; -webkit-box-shadow: 10px 10px 20px 0 #000; box-shadow: 10px 10px 20px 0 #000;width:200px;padding:20px;border:1px solid red;behavior: url(js/PIE.htc)}

.search-list ol{margin:5px 24px 10px 24px;padding:0;counter-reset:li;}
.search-list ol li{padding:0 0 20px 0 ;font-size:18px;line-height:20px;position:relative;display:block;}
.search-list ol li:before {content:counter(li)". "; counter-increment:li;color:#0d52a5;position:absolute; top:0; left:-16px;font-family: 'Open Sans Condensed', sans-serif;}
.search-list ol li span a{color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;display:block;font-size:18px;line-height:20px}
.search-list ol li a{color:#0d52a5;font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.search-list ol li p{color:#565656;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:20px;padding:5px 0 0 0}

.search-list .search-form{padding-bottom:20px}
.search-list .search-form input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#0d52a5;width:640px;vertical-align:middle;margin-right:5px}
.search-list .search-form input[type='submit']{height:33px;text-align:center;color:#fff;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:120px;font-size:20px;line-height:28px;vertical-align:middle}
.search-list .search-form input[type='submit']::-moz-focus-inner{padding:0;border:0}

.basket-list{padding-bottom:50px}
.basket-list table{border-collapse:collapse;width:100%;font-size:15px;color:#565656;font-family: 'Open Sans Condensed', sans-serif;}
.basket-list table th{color:#3dabe0;font-family: 'Open Sans Condensed', sans-serif;font-weight:600;padding:10px 0}
.basket-list table td{border-top:1px solid #dce0e1;padding:10px 0 10px 10px;vertical-align:top}
.basket-list table td:first-chold{padding-left:0}
.basket-list table td .price{color:#3dabe0;font-size:18px;font-weight:600}
.basket-list table td .price span{color:#3dabe0;font-size:26px;font-weight:600}
.basket-list table td img{vertical-align:top}
.basket-list table td:first-child a{text-decoration:none}
.basket-list table td a{color:#0d52a5;font-size:18px}
.basket-list input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:40px;line-height:40px;padding:0 10px;font-size:20px;font-family: 'Open Sans Condensed', sans-serif;color:#41acdf;width:40px;vertical-align:middle;text-align:center}

.basket-list table tr.total td{border-top:1px solid #41acdf;color:#3dabe0;font-size:18px;font-weight:600}
.basket-list table tr.total td span{color:#3dabe0;font-size:26px;font-weight:600}

.basket-list .send-b{text-align:right}
.basket-list .send-b input{height:33px;text-align:center;color:#fff;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:240px;font-size:20px;line-height:28px}
.basket-list .send-b input[type='submit']::-moz-focus-inner{padding:0;border:0}

.tab-box{}
.tab-box ul.tabs{margin:0;padding:0;list-style-type:none;position:relative;bottom:-1px}
.tab-box ul.tabs li{float:left;border:1px solid #ededed;padding:0 60px;height:28px;line-height:28px;background:url(../images/tab00.png) repeat-x;color:#565656;font-size:16px;font-family: 'Open Sans Condensed', sans-serif;cursor:pointer}
.tab-box ul.tabs li:first-child{border-right:0}
.tab-box ul.tabs li.current{background:url(../images/tab01.png) repeat-x;border-bottom:1px solid #fff}

.tab-box .tbox{border:1px solid #ededed;padding:20px;clear:both;display:none}
.tab-box .tbox.visible{display:block}
.tbox-left{float:left;width:420px;padding-left:40px}
.tbox-right{float:left;width:420px}
.tbox-left table{border-collapse:collapse;width:100%;margin-bottom:20px}
.tbox-left table td{padding:5px 10px 5px 0}
.tbox-left table td:first-child{text-align:right;color:#525252;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;}
.tbox-left input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#0d52a5;width:220px;}

.tbox-right table{border-collapse:collapse;width:100%;margin-bottom:20px}
.tbox-right table td{padding:5px 10px 5px 0}
.tbox-right table td:first-child{text-align:right;color:#525252;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;}
.tbox-right input[type=text]{background:#f5f5f5 url(../images/in) top repeat-x;border-top:1px solid #dadada;border-left:1px solid #ebebeb;border-right:1px solid #eeeeee;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#0d52a5;width:220px;}

.tab-box .check{margin:0 -20px;border-top:1px solid #ededed;padding:20px 40px 0 40px;clear:both}
.tab-box .check .radioclass{position: absolute;overflow: hidden;left: -9999px;}
.tab-box .check .radiolabelclass{background:url(../images/check.png) 0 -275px no-repeat;padding-left:20px;padding-top: 1px;margin:5px 0 10px 0;display: block;}
.tab-box .check .radiolabelclass span{font-family: 'Open Sans Condensed', sans-serif;font-size:18px;display:block}
.tab-box .check .radioselected{background:url(../images/check.png) 0 -160px no-repeat;}

.tab-box .ch .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.tab-box .ch .checkboxlabelclass{background: url(../images/check.png) 0 -75px no-repeat;padding-left:20px;padding-top: 3px; margin:0 15px 10px 0;}
.tab-box .ch .labelselected{background:url(../images/check.png) 0 -2px no-repeat}

.tab-box .order-b{text-align:right;padding:20px 0}
.tab-box .order-b input{height:33px;text-align:center;color:#fff;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;width:240px;font-size:20px;line-height:28px}
.tab-box .order-b input[type='submit']::-moz-focus-inner{padding:0;border:0}

.my-purchases{padding-bottom:30px}
.my-purchases h2{font-size:18px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}
.my-purchases div{background:url(../images/ico05.png) 0 0 no-repeat;padding:0 0 0 40px}
.my-purchases div p{color:#565656;font-size:15px}

.my-info{padding-bottom:30px}
.my-info h2{font-size:18px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}

.info{float:left;width:300px;}
.info img{float:left;margin:0 15px 10px 0}
.info p {padding-bottom:2px;font-size:14px;line-height:20px}

.delivery{background:url(../images/ico06.png) 0 7px no-repeat;padding:0 0 0 50px;float:left;width:260px}
.delivery p {padding-bottom:2px;line-height:20px;padding-right:50px;font-size:14px}

.pass{background:url(../images/ico09.png) 0 7px no-repeat;padding:0 0 0 35px;float:left;width:150px}
.pass p {padding-bottom:2px;font-size:14px;line-height:20px;}

.my-message{clear:both;padding:20px 0 0 0}
.my-message h2{font-size:18px;color:#0d52a5;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px;font-weight:300}

.write{background:url(../images/ico08.png) 0 7px no-repeat;padding:0 0 0 35px;float:left;width:265px}
.write p {padding-bottom:2px;line-height:20px;padding-right:50px;font-size:14px}

.feedback{background:url(../images/ico07.png) 0 7px no-repeat;padding:0 0 0 35px;float:left;width:325px}
.feedback p {padding-bottom:2px;line-height:20px;padding-right:50px;font-size:14px}

.goods-box{}
.goods-left .tab-box{margin-bottom:20px}
.goods-box table.tabs{position:relative;border-collapse:collapse;width:100%}
.goods-box table.tabs td{height:35px;background:url(../images/tab02.png) repeat-x;color:#565656;font-size:20px;font-family: 'Open Sans Condensed', sans-serif;cursor:pointer;text-align:center;border-left:1px solid #fff;width:20%}
.goods-box table.tabs td:first-child{border-left:0}
.goods-box table.tabs td.current{background:url(../images/tab03.png) repeat-x;color:#fff}

.goods-box .gbox{padding:20px 0 5px 0;clear:both;display:none}
.goods-box .gbox.visible{display:block}

.goods-carcass{border-collapse:collapse;width:100%;margin:5px 0}
.goods-carcass td.goods-left{vertical-align:top;padding-right:20px}
.goods-carcass td.goods-right{vertical-align:top;width:195px}

.goods-tools{background:#f6f6f6;padding:10px}
.goods-tools h2{color:#0d52a5;font-size:18px;font-weight:300;font-family: 'Open Sans Condensed', sans-serif;padding-bottom:5px	}
.goods-tools .sep{background:url(../images/sep02.png) repeat-x;height:2px;font-size:1px;margin:10px -10px;clear:both}
.goods-tools ul{margin:0;padding:0;list-style-type:none}
.goods-tools ul li{padding:3px 0 3px 5px}

.goods-tools .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.goods-tools .checkboxlabelclass{background: url(../images/check.png) 0 -75px no-repeat;padding-left:20px;padding-top: 3px; margin:0 15px 10px 0;}
.goods-tools .labelselected{background:url(../images/check.png) 0 -2px no-repeat}

.goods-tools .view-b a{background:url(../images/btn03.png) no-repeat;width:175px;height:26px;line-height:26px;color:#fff;text-decoration:none;font-family: 'Open Sans Condensed', sans-serif;font-size:18px;text-align:center;margin:0 auto;display:block}

.clear-tools{padding:15px 0;text-align:center}
.clear-tools a{color:#0d52a5;font-size:14px;font-family: 'Open Sans Condensed', sans-serif;}
.clear-tools img{vertical-align:middle;margin:0 3px}

.sort-menu{padding:10px 0;}
.sort-menu ul{margin:0;padding:0;list-style-type:none}
.sort-menu ul li{margin:0 0 0 15px;float:left}
.sort-menu ul li:first-child{margin:0}
.sort-menu ul li a{color:#0d52a5;font-size:12px;padding-right:13px;letter-spacing:-0.05em}
.sort-menu ul li.act a{text-decoration:none;background:url(../images/bullet06.png) 100% 4px no-repeat}
.sort-menu ul li.gr a{text-decoration:none;background:none;text-decoration:underline}
.sort-menu ul li.gr.act a{background:url(../images/close2.png) 100% 2px no-repeat;text-decoration:none}

.goods{border-bottom:1px solid #ededed;padding:10px 0}
.goods .goods-img{float:left;width:180px;padding:0 20px 0 0}
.goods .goods-img img{width:180px}
.goods .goods-img span{display:block;text-align:right;}
.goods .goods-img span a{color:#219bd1;font-size:14px;}

.goods .goods-name a{color:#0d52a5;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;}

.goods .goods-desc{float:right;width:210px;padding:15px 0 0 0}
.goods .goods-desc table{border-collapse:collapse;width:100%}
.goods .goods-desc table td{border-top:1px solid #ededed;padding:3px 0;font-family: 'Open Sans Condensed', sans-serif;}
.goods .goods-desc table td b{color:#0d52a5}
.goods .goods-desc table tr:first-child td{border-top:0}

.goods .price{float:left;width:250px;padding:35px 0 20px 20px;color:#3dabe0;font-weight:700;font-size:18px;font-family: 'Open Sans Condensed', sans-serif}
.goods .price span{font-size:26px}
.goods .price a{float:right;background:url(../images/btn02.png) no-repeat;width:89px;height:29px;line-height:28px;color:#fff;text-decoration:none;font-size:18px;padding:0 0 0 30px;font-weight:300;margin-top:5px}

.goods p{color:#565656;font-size:13px;line-height:18px;float:left;width:555px;padding:10px 0 0 0}

.goods-more .goods-more-right{float:left;width:420px}
.goods-more .goods-img{float:left;width:280px;padding:0 20px 0 0}
.goods-more .goods-img img{width:280px}
.goods-more .goods-img span{display:block;text-align:right;}
.goods-more .goods-img span a{color:#219bd1;font-size:14px;}

.goods-more .goods-desc{float:left;width:210px;padding:5px 0 0 20px}
.goods-more .goods-desc table{border-collapse:collapse;width:100%}
.goods-more .goods-desc table td{border-top:1px solid #ededed;padding:3px 0;font-family: 'Open Sans Condensed', sans-serif;font-size:15px}
.goods-more .goods-desc table td b{color:#0d52a5}
.goods-more .goods-desc table tr:first-child td{border-top:0}

.goods-more .price{float:left;width:250px;padding:0 0 10px 20px;color:#3dabe0;font-weight:700;font-size:18px;font-family: 'Open Sans Condensed', sans-serif}
.goods-more .price span{font-size:26px}
.goods-more .price a{float:right;background:url(../images/btn02.png) no-repeat;width:89px;height:29px;line-height:28px;color:#fff;text-decoration:none;font-size:18px;padding:0 0 0 30px;font-weight:300;margin-top:5px}

.goods-more p{color:#565656;font-size:13px;line-height:18px;padding:20px 0 0 0;clear:both;}
.goods-more .rating{margin-top:10px}

.goods-more .model-pic{float:right;width:111px;height:88px;position:relative;margin:10px 10px 0 0}
.goods-more .model-pic span{position:absolute;color:#ffffff;font-size:14px;right:10px;top:10px}

.goods-more ul{margin:0;padding:10px 0 0 20px;list-style-type:none;clear:both}
.goods-more ul li{float:left;margin:0 5px 2px 0}

.goods-more .soc{padding:15px 0 0 20px;clear:both}

.similar-box{clear:both;}
.similar-box h2{background:url(../images/pro.png) 0 11px no-repeat;color:#525252;font-size:26px;font-weight:300;padding:0 0 10px 15px;font-family: 'Open Sans Condensed', sans-serif}

.review-list{}
.review-list ul{margin:0;padding:0;list-style-type:none}
.review-list ul li{padding:20px 0}
.review-list ul li p{color:#565656;font-size:14px;line-height:18px;padding-bottom:20px}
.review-list ul li span{display:block;text-align:right;color:#0d52a5;font-style:italic}

.tex-box{padding:20px 10px}
.tex-box-left{float:left;width:330px;border-collapse:collapse;margin:0 40px 0 0;border-bottom:1px solid #bbe1f3}
.tex-box-left p{font-size:15px;font-family: 'Open Sans Condensed', sans-serif;color:#000;clear:both;border-top:1px solid #ededed;padding:5px 0}
.tex-box-left p:first-child{border:0}
.tex-box-left p b{color:#0d52a5;float:right}

.tex-box-right{float:left;width:330px}
.tex-box-right ul{margin:0;padding:0;list-style-type:none}
.tex-box-right ul li{padding-bottom:15px}
.tex-box-right ul li p{font-size:14px;line-height:18px}
.tex-box-right ul li p span{display:block;color:#0d52a5;font-size:18px;font-family: 'Open Sans Condensed', sans-serif;}

/* trackbar */
.trackbar{margin:10px 0}
table.trackbar div, table.trackbar td {margin:0; padding:0;}
table.trackbar {border-collapse:collapse;border-spacing:0;}
table.trackbar img{border:0;}
table.trackbar {width:175px;margin:10px 0; background:repeat-x url(../images/b_bg_on.gif) top left;}
table.trackbar .l {width:1%; text-align: right; font-size: 1px; background:repeat-x url(../images/b_bg_off.gif) top left;}
table.trackbar .l div {position:relative; width:0; text-align: right; z-index:500; white-space:nowrap;}
table.trackbar .l div img {cursor:pointer;}
table.trackbar .l div span {position:absolute;top:-14px; right:-6px; z-index:1000; font:11px tahoma; color:#000;}
table.trackbar .l div span.limit {text-align:left; position:absolute;top:-12px; right:100%; z-index:100; font:11px tahoma; color:#D0D0D0;display:none}
table.trackbar .r {position:relative; width:1%; text-align: left; font-size: 1px; background:repeat-x url(../images/b_bg_off.gif) top right; cursor:default;}
table.trackbar .r div {position:relative; width:0; text-align: left; z-index:500; white-space:nowrap;}
table.trackbar .r div img {cursor:pointer;}
table.trackbar .r div span {position:absolute;top:-14px; left:-6px; z-index:1000; font:11px tahoma; color:#000;}
table.trackbar .r div span.limit {position:absolute;top:-12px; left:100%; z-index:100; font:11px tahoma; color:#D0D0D0;display:none}
table.trackbar .c {font-size:1px; width:100%;}
/* /trackbar */

/* rating */
.rating{float:right}
div.vote-wrap{overflow: hidden;}
div.vote-block{position: relative;}
div.vote-hover{float: left;cursor:  pointer;}
div.vote-stars{position: absolute;left: 0;top: 0;}
div.vote-active{position: absolute;left: 0;top: 0;}
div.vote-result{color: #ccc;font-size: 14px;margin-top: 12px;padding-left: 190px;display:none}
div.vote-success{clear: both;color: #ccc;font-size: 14px;margin: 10px 0 0 10px;display:none}


/* Content */

/* Footer */
#footer{position:absolute;bottom:0;left:0;width:100%;height:180px}
.footer{width:980px;margin:0 auto}
.f-menu{border-bottom:1px solid #e9e9e9;overflow:hidden;padding:10px 0 20px 0}
.f-menu ul{margin:0;padding:0;list-style-type:none}
.f-menu ul li{float:left;padding:0 10px;border-left:1px solid #39a0d2}
.f-menu ul li:first-child{border-left:0}
.f-menu ul li a{font-size:14px;font-family: 'Open Sans Condensed', sans-serif;line-height:14px}
.f-left{float:left;width:400px;padding:15px 0 0 10px}
.f-left p{padding-bottom:10px}
.f-left a{color:#}
.f-right{float:right;width:400px;text-align:right;padding:15px 10px 0 0}
.f-right a{color:#354d60}
.f-right div{padding:15px 0 0 0}
.f-right div a{margin-left:15px}

/* Footer */
.clear{clear:both}
* html .clearfix{height: 1%; overflow: visible;}
*+html .clearfix{  min-height: 1%;}
.clearfix { zoom: 1 }
.clearfix:after {  content: "";   clear: both;  display: block;  width: 0; height: 0;  overflow: hidden;  font-size: 0;}

.add-drop{position:absolute;width:360px;border:1px solid #41acdf;padding:20px;background:#fff;left:50%;margin-left:-180px;z-index:999;top:260px;}
.add-drop .close{position:absolute;top:7px;right:10px;}
.add-drop h2{color:#525252;font-size:26px;font-weight:300;padding:0 0 15px 0;font-family: 'Open Sans Condensed', sans-serif}
.add-drop table{border-collapse:collapse;width:100%;border-top:1px solid #cad5da;font-family: 'Open Sans Condensed', sans-serif}
.add-drop table td{border-bottom:1px solid #cad5da;padding:0 0 0 10px}
.add-drop table td a{color:#0d52a5;font-size:15px}
.add-drop table td .price{color:#3dabe0;font-size:18px;font-weight:600;white-space:nowrap}
.add-drop table td .price span{color:#3dabe0;font-size:26px;font-weight:600}

.add-drop .btn{text-align:center;padding:20px 0 0 0}
.add-drop .btn a{height:28px;text-align:center;color:#fff;font-family: 'Open Sans Condensed', sans-serif;border:0;background:#2ab5e8;font-size:16px;line-height:28px;display:block;text-decoration:none;float:left;padding:0 25px}
.add-drop .btn a.back{background:#fff url(../images/back.png) 10px 10px no-repeat;color:#41acdf;text-decoration:underline;margin-left:20px}
